#main {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#main .wrapper {
	position: absolute;
	top: var(--scroll, 0);
	left: 0;
	width: 100%;
	height: auto;
	transition: top .5s ease-in-out;
}

#main .layer {
	position: relative;
	width: 100%;
	height: 100vh;
}
