#slide {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-bottom: 1.25rem;
	box-sizing: content-box;
}

#slide .swipe {
	position: absolute;
	top: 0;
	left: var(--swipe, 0);
	bottom: 0;
	width: auto;
	height: 100%;
	transition: left .5s ease;
}

#slide .btn-action {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

#slide .btn-action button {
	width: 16px;
	height: 5px;
	background-color: #444444;	
	transition: width .8s ease;
}

#slide .btn-action button.active {
	width: 25px;
	background-color: #67DEE6;	
}
